/* Module 3 Styles */

* {
  box-sizing: border-box;
}

h1 {
  padding: 10px;
  margin: 0;
  color: black;
}

h2 {
  padding: 10px;
  margin: 0;
  text-align: center;
  font-size: 1.8em;
  color: black;
}

header {
  border: 1px solid black;
  background-color: #dfffff;
}

hr {
  border-color: black;
}


div.section {
  background: #dfffff;
  font-family: Helvetica;
  border: 1px solid black;
  padding: 25px;
  height: 1000px;
}

.row {
padding-left: 10px;
padding-right: 10px;
}

.container {
  margin-left: 10px;
  margin-top: 0px;
  border: 1px;
}

.item {
  color: black;
  font-size: 1.6em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000000;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -25px;
}

#header-nav {
  background-color: #dfffff;
}

#nav-list {
  color: black;
}

/********** XS devices only **********/
@media (max-width: 767px) {

.container {
  margin-left: auto;
  margin-right: auto;
}

.row {
padding-left: 10%;
padding-right: 10%;
}
